data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

Android/app/build/
Android/.gradle/
Android/.kotlin/
Android/local.properties
*.apk
*.aab

# IDE
Android/.idea/workspace.xml
Android/.idea/caches/
Android/.idea/*.xml
!Android/.idea/.gitignore
!Android/.idea/codeStyles/
